/*This is my personalized CSS stylesheet
1. Selecting all the tags (i.e. h1 or p)
2. Selecting id's
3. Creating classes
*/

a{
    color: #868e96 !important
}
.customIcon{
    color: black;
}
#newSectionColor {
    color: darkturquoise;
}
#profilepicture {
    height: 100px;
}
#walmartlogo{
    width: 100%;
}
#phonenumber{
    color: #868e96 !important;
    text-decoration: none;
}